.header {
    background-color: #ffb34f;

    border-bottom: @primary-color solid 2px;
    padding: 10px 0;

}





.widget {
    position: fixed;
    background-color: @primary-color;
    bottom: 80px;
    right: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: white;
    transition: 200ms;
    z-index: 99;

    &:hover {
        background-color: rgb(208, 104, 63);
    }
}


.color-circle {

    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.color-circle:not(:first-child) {
    margin-left: 12px;
}



.btn-secondary {
    background-color: @color-blue;
    border: @color-blue solid 2px;
    color: white;

    &:hover {
        background-color: rgb(31, 55, 240);
        color: white;
        border: rgb(31, 55, 240)solid 2px;
    }
}



.cell {
    height: 60px;
    width: 95%;
    border-top: 1px solid #FFB34F;
    transition: 200ms;
    transition-delay: 200ms;
    border-bottom: 1px #eee solid;
    background-color: rgba(255, 217, 92, 0.3);
    z-index: 2;
}



.cell.disabled {
    background-color: #eee;
}


.cell.deadline.selected {
    background-color: rgba(105, 255, 228, 1);
}