@primary-color: #FF7642; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #af2d33; // error state color
@font-size-base: 14px; // major text font size
@heading-color: #364DFF; // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers







.cell {
    height: 60px;
    width: 95%;
    border-top: 1px solid #FFB34F;
    transition: 200ms;
    transition-delay: 200ms;
    border-bottom: 1px #eee solid;
    background-color: rgba(255, 217, 92, 0.3);

}



.cell.disabled {
    background-color: #eee;
}


.cell.meeting {
    background-color: rgba(105, 255, 228, 0.3);
}



.cell.meeting.selected {
    background-color: rgba(105, 255, 228, 1);
}

.steps-wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.current-value {
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 20px;
    display: block;
}

.ant-input.error {
    border-color: @error-color;
}

// Form overrides css

.ant-form-item-label label {
    color: @text-color
}

// buttons 

.btn-back {
    background-color: grey;
    border: none;
}

.btn-back:hover {
    background-color: rgb(91, 91, 91);
    border: none;
}


.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





.color-circle {

    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.color-circle:not(:first-child) {
    margin-left: 12px;
}




.ant-alert-message {
    color: grey;

}

.ant-alert-info {
    margin: 10px 0;
    transition: 200ms;
}



// typography