#landing-view {
    background-image: url('https://jomari-designs-2020.s3-eu-west-1.amazonaws.com/static/2b4ca16eab2529640069a963f6ef8af8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;

    h1 {
        font-size: 50px;
    }
}


#get-quote-helper {
    .container {
        justify-content: center;
    }
}


#useful-links {
    .anticon {
        font-size: 35px;
    }

    .icon-link:not(:first-child) {
        margin-left: 30px;
    }
}


#work-detailed {
    img {
        width: 100%;
    }
}